<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Application</title>
</head>
<body>
 <table>
    <thead>
    <tr>
        <th>ID</th>
        <th>pass</th>
        <th>login</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}"></td>
    <td th:text="${user.id}"></td>
    <td th:text="${user.pass}"></td>
    <td th:text="${user.login}"></td>
    <td th:href="@{/api/user/edit(id=${user.id})}">
        <a th:href="@{/api/user/edit(id=${user.id})}">edit</a>
        <a th:href="@{/api/user/del(id=${user.id})}">delete</a>
    </td>


    </tr>
    </tbody>
</table>
<form th:action="@{/api/user/add}" th:object="${user}" method="post">
    <label>login</label>
    <input type="text" th:field="*{login}">
    <label>pass</label>
    <input type="text" th:field="*{pass}">
    <button  type="submit">dghfvdfg</button>

</form>
</body>
</html>